* {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
element.style {
  text-align: justify;
}
header {
  background-color: #195128;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
header .Secao2 {
  background-color: #195128;
  text-align: center;
  padding: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
}
main .Secao2 .titulo {
  color: white;
}

nav {
  background-color: #00420b;
}
.menu {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}
.menu td {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.menu a {
  color: white;
  text-decoration: none;
}
main {
  padding-left: 50px;
  padding-right: 50px;
}

main .corpo_tex {
  margin-top: 30px;
  text-align: justify;
}
main .tit1 {
  margin-bottom: 30px;
  padding: 30px;
}

main .button {
  margin-top: 30px;
  text-align: center;
}
main .col1,
main .col2 {
  width: 50%;
  padding: 30px;
}
main .button a {
  background-color: #195128;
  color: white;
  text-decoration: none;
  padding: 20px 50px;
  border-radius: 10px;
  display: table-cell;
  text-align: center;
}
table .corpo_tex .col1 .button {
  text-align: center;
}
.faixa h1 {
  background-color: #195128;
  color: aliceblue;
  text-align: center;
  margin-top: 30px;

  padding-top: 50px;
  padding-left: 80px;
  padding-right: 80px;
}

.faixa p {
  background-color: #195128;
  color: aliceblue;
  text-align: center;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 50px;
}

.conteudo3 .botoes {
  background-color: #195128;
  padding: 15px 50px;
  border-radius: 10px;
  margin-top: 15px;
}

.conteudo3 .botoes a {
  color: aliceblue;
  text-decoration: none;
  text-align: justify;
}

.conteudo3 {
  padding-bottom: 50px;
  padding-left: 100px;
  text-align: justify;
  margin-right: 50px;
}

.conteudo3 .botoes {
  width: 25%;
}

.conteudo3 .texto {
  width: 75%;
}
