* {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
element.style {
  text-align: justify;
}
header {
  background-color: #195128;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
header .Secao2 {
  background-color: #195128;
  text-align: center;
  padding: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
}
main .Secao2 .titulo {
  color: white;
}

nav {
  background-color: #00420b;
}
.menu {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}
.menu td {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.menu a {
  color: white;
  text-decoration: none;
}
main {
  padding-left: 50px;
  padding-right: 50px;
}

main .corpo_tex {
  margin-top: 30px;
  text-align: justify;
}
main .tit1 {
  margin-bottom: 30px;
  padding: 30px;
}

main .button {
  margin-top: 30px;
  text-align: center;
}
main .col1,
main .col2 {
  width: 50%;
  padding: 30px;
}
main .button a {
  background-color: #195128;
  color: white;
  text-decoration: none;
  padding: 20px 50px;
  border-radius: 10px;
}
table .corpo_tex .col1 .button {
  text-align: center;
}
main .col2 img {
  border-radius: 10px;
  box-shadow: 13px 13px 3px #00420b;
  width: 500px;
}
main .Secao2 {
}
